#Our error log
errors.log


#Platform/language/tool specific stuff that github recommends to ignore

# Composer
composer.phar
/vendor/

# Notepad++
*.bak

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk